.text{
  font-weight: bolder;
  color: brown;
}

.card-title{

  font-weight: bolder;
  color: red;
}

.card-text{
  font-weight: bolder;
  color: black;
}

.nav-link{
  color: blue;
  font-weight:bold;
}

.nav-link:hover{
  color: orangered;
}