.text{
  font-weight: bolder;
  color: brown;
}

.card-title{

  font-weight: bolder;
  color: red;
}

.card-text{
  font-weight: bolder;
  color: black;
}

.nav-link{
  color: green;
  font-weight:bold;
}

.nav-link:hover{
  color: orangered;
}


@media screen and (max-width:1000px){
  li, .d-flex{
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }
  .form-switch ,.form-check{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}